<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nhom3_QLBanGiay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nhom3_QLBanGiay.styles.css" asp-append-version="true" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="../Shoes/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../Shoes/css/style.css" type="text/css">
</head>
<body>
    @await Html.PartialAsync("_PartialHeader")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_PartialFooter")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="../Shoes/js/jquery-3.3.1.min.js"></script>
    <script src="../Shoes/js/bootstrap.min.js"></script>
    <script src="../Shoes/js/jquery.nice-select.min.js"></script>
    <script src="../Shoes/js/jquery.nicescroll.min.js"></script>
    <script src="../Shoes/js/jquery.magnific-popup.min.js"></script>
    <script src="../Shoes/js/jquery.countdown.min.js"></script>
    <script src="../Shoes/js/jquery.slicknav.js"></script>
    <script src="../Shoes/js/mixitup.min.js"></script>
    <script src="../Shoes/js/owl.carousel.min.js"></script>
    <script src="../Shoes/js/main.js"></script>
</body>
</html>
