@model SanPham
<div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="@Url.Content("../Products/Image/"+@Model.HinhAnhAvatar)" style="background-image: url(&quot;../Shoes/img/product/product-1.jpg&quot;);">
        <span class="label">New</span>
        <ul class="product__hover">
            <li><a href="#"><img src="../Shoes/img/icon/heart.png" alt=""></a></li>
            <li><a href="#"><img src="../Shoes/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
            <li><a href="#"><img src="../Shoes/img/icon/search.png" alt=""></a></li>
        </ul>
    </div>
    <div class="product__item__text">
        <h6>@Model.TenSanPham</h6>
        <a asp-action="ChiTietSanPham" asp-controller="Home" asp-route-masp="@Model.MaSanPham">Xem Chi Tiết</a>
        <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <h5>@Model.GiaBan.Value.ToString("#,##0") đồng</h5>
        <div class="product__color__select">
            <label for="pc-1">
                <input type="radio" id="pc-1">
            </label>
            <label class="active black" for="pc-2">
                <input type="radio" id="pc-2">
            </label>
            <label class="grey" for="pc-3">
                <input type="radio" id="pc-3">
            </label>
        </div>
    </div>
</div>
    

