@using X.PagedList.Mvc.Core;
@model IEnumerable<LoaiSp>
<div class="card-heading">
    <a data-toggle="collapse" data-target="#collapseOne">Loại Sản Phẩm</a>
</div>
<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
    <div class="card-body">
        <div class="shop__sidebar__categories">
            <ul class="nice-scroll" tabindex="1" style="overflow-y: hidden; outline: none;">
                @foreach(var loaisp in Model)
                {
                    @*<li><a asp-action="SanPhamTheoLoai" asp-controller="Home" asp-route-maloai="@loaisp.MaLoaiSp">@loaisp.TenLoaiSp</a></li>*@
                    var getUrl = "https://localhost:7251/api/productsapi/" + loaisp.MaLoaiSp;
                    <li><a style="cursor:pointer" onclick="showProductsByCategory('@getUrl')">@loaisp.TenLoaiSp</a></li>
                }              
            </ul>
        </div>
    </div>
</div>
<script>
    function showProductsByCategory(getUrl){
        var str='';
        $.ajax({
            type:'GET',
            url: getUrl,
            dataType: 'json',
            errol: function(response){
                console.log(response);
            },
            success: function(data){
                $.each(data,function(key,val){
                    //str+='<p>'+val.tenSp+'</p>';
                    str += `<div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-sm-6">
                        <div class="product__item" >
                                    <div class="product__item__pic set-bg" data - setbg="../Products/Image/${val.hinhAnhAvatar}" style = "background-image: url(&quot;../Products/Image/${val.hinhAnhAvatar}&quot;);">
                                <span class="label" > New </span>
                                    <ul class="product__hover" >
                                        <li><a href="#" > <img src="../Shoes/img/icon/heart.png" alt = "" > </a></li >
                                            <li><a href="#" > <img src="../Shoes/img/icon/compare.png" alt = "" > <span>Compare </span></a > </li>
                                                <li > <a href="#" > <img src="../Shoes/img/icon/search.png" alt = "" > </a></li >
                                                    </ul>
                                                    </div>
                                                    <div class="product__item__text" >
                                                        <h6>${val.tenSanPham}</h6>
                                                            <a href="/Home/ChiTietSanPham?masp=${val.maSanPham}"> + Add To Cart </a>
                                                            <div class="rating" >
                                                                <i class="fa fa-star-o" > </i>
                                                                    <i class="fa fa-star-o" > </i>
                                                                        <i class="fa fa-star-o" > </i>
                                                                            <i class="fa fa-star-o" > </i>
                                                                                <i class="fa fa-star-o" > </i>
                                                                                    </div>
                                                                                    <h5> ${val.giaBan} đồng </h5>
                                                                                    <div class="product__color__select" >
                                                                                        <label for= "pc-1" >
                                                                                            <input type= "radio" id = "pc-1" >
                                                                                            </label>
                                                                                            <label class="active black" for= "pc-2">
                                                                                                <input type= "radio" id = "pc-2">
                                                                                                </label>
                                                                                                <label class="grey" for= "pc-3">
                                                                                                    <input type= "radio" id = "pc-3">
                                                                                                </label>
                                                                                     </div>
                                                      </div>
                                  </div>
                     </div>`;

                });
                $('#displayProducts').html(str);
            }
        });
    }
</script>